body {
    /*background-image: url("../../images/nathan-dumlao-510450-unsplash.jpg") ;*/
    /*background: url("https://images.unsplash.com/photo-1515697203610-d0513edf9cb4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd428e7688e714f6c98429dc1c18a31f&auto=format&fit=crop&w=654&q=80");*/
}

#navbar {
    margin-bottom: 4em;
}

.frameText {
    border-radius: 15px;
    border: 2px solid grey;
    padding: 20px;
}

.firstRow {
    margin-top: 3rem;
}

.someSpace {
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#articleHeader {

    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;

    padding: 0px 0px 6px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
}

#article {
    margin-top: 0rem;

}

.linebreak {
    white-space: pre-wrap;
}

#articleData {
    margin-top: 4rem;
    position: absolute;
    bottom: 0;
}


#comment {
    padding-left: 0.5rem;


    border-radius: 10px;
    border: 2px solid lightgrey;

    /*bootsrap grey = #f8f9fa*/
}

#myfilter {

    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    font-size: 3.5rem;
    font-style: italic;
    display: flex;
    justify-content: center;

}

#filteroff {

    margin: 1rem 0rem 0rem 1rem;
}

.Row {
    display: table;

    /*width: 100%; !*Optional*!*/
    /*table-layout: fixed; !*Optional*!*/
    /*border-spacing: 10px; !*Optional*!*/
}

.Column {
    display: table-cell;
    /*background-color: red; !*Optional*!*/
}

#olderVersion {
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: #444;
    font-size: 3.5rem;
    font-style: italic;
    display: flex;
    justify-content: center;


}

.commentRow {
    margin-top: 1em;
}

.marginTop-small {
    margin-top: 1.5rem;
}


.marginRight5 {
    margin-right: 5px;
}

.btn.cool {
    background-color: lightgray;
}

.btn.cool.active {
    background-color: lightgreen;

}

#category-selection {
    margin: 1rem 0rem 0rem 1rem;
}

#category-dropdown {
    width: 250px;

}

#category-filter-input {
    width: 160px;
}