<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="navbar">

    <meta charset="UTF-8"/>
    <title>navbar</title>

</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="navbar-brand" href="/">Home</a>
                </li>
                <li class="nav-item" th:if="${currentUser!=null && currentUser.isAdmin()}">
                    <a class="navbar-brand" href="/article">
                        Create article
                    </a>
                </li>
                <li class="nav-item dropdown" th:if="${currentUser != null}">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <th:block th:text="${currentUser.userName}"></th:block>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!--<a class="dropdown-item" href="#">my articles</a>-->
                        <a th:href="@{/filterUser(userName=${currentUser.userName})}" class="dropdown-item">my
                            articles</a>

                        <a class="dropdown-item" href="/overview"
                           th:if="${currentUser!= null && currentUser.isAdmin()}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <!--<a class="dropdown-item" href="#"><th:block th:text="${currrentUser.getRole()}"></th:block></a>-->
                    </div>
                </li>
            </ul>
            <a class="nav-item" th:if="${currentUser == null}" href="/signup">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Sign up</button>
            </a>
            <a class="nav-item" th:if="${currentUser == null}" href="/login">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Login</button>
            </a>
            <form th:action="@{/logout}" method="post" th:if="${currentUser != null}">
                <button type="submit" class="btn btn-outline-primary my-2 my-sm-0">Logout</button>
            </form>
        </div>
    </nav>
</div>
</body>
</html>