<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container">
    <div class="row firstRow">
        <div class="col-6" id="articleHeader" th:text="${article.headline}"></div>
        <div class="col-2 articleData" th:text="${'Author: ' + article.getUser()}"></div>
        <div class="col-2 articleData"
             th:text="${'Last changed by: ' + article.getLastChangeUserEntity().getUserName()}"></div>
        <div class="col-2 articleData" th:text="${article.creationDate}"></div>
    </div>
    <div class="row">
        <div class="nr1 col-8 frameText" th:text="${article.text}">

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div id="olderVersion" class="col-8">
            Older Versions
        </div>
    </div>
</div>
<div class="container" th:each="archivearticle:${articlearchive}">
    <div class="row firstRow">
        <div class="col-6" id="articleHeader" th:text="${archivearticle.getHeadline()}"></div>
        <div class="col-2 articleData" th:text="${'Changed by: ' + archivearticle.getUser()}"></div>
        <div class="col-4 articleData" th:text="${archivearticle.getCreationDate()}"></div>
    </div>
    <div class="row">
        <div class="nr1 col-8 frameText" th:text="${archivearticle.getArchiveText()}">

        </div>
    </div>
</div>
</body>
</html>