<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container firstRow">
    <h1>Edit Article</h1>
    <a th:if="${currentUser.isAdmin()}">
        <form th:action="@{/editArticle(articleId=${articles.id})}" th:object="${article}" method="post">
            <h5>Categories</h5>
            <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn cool marginRight5" th:each="category:${categories}">
                    <input class="form-check-input" type="checkbox" th:field="*{categoryEntityList}"
                           th:value="${category.categoryName}" th:text="${category.categoryName}">
                </label>
            </div>
            <div class="form-group firstRow">
                <label for="exampleFormControlInput1">Headline</label>
                <input class="form-control" id="exampleFormControlInput1" maxlength="15"
                       th:field="*{headline}">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Blog article</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"
                          th:field="*{text}"></textarea>
            </div>

            <button class="btn btn-secondary" type="submit">Update</button>
        </form>

        <div class="firstRow">
            <form th:action="@{/deleteArticle(articleId=${articles.id})}" th:object="${article}" method="post">
                <button class="btn btn-outline-info-smx" type="submit">Delete</button>
            </form>
        </div>
        <!--<form th:action="@{/addImgToArticle(articleId=${editArticle.id})}" th:object="${editArticle}" method="post">-->
        <!--<label class="btn btn-success" for="files">Add Picture</label>-->
        <!--<input id="files" style="visibility:hidden;" type="file" th:field="*{file}" name="file" accept="image/*"-->
        <!--onchange="loadFile(event)">-->
        <!--</form>-->

    </a>
    <a th:if="${!currentUser.isAdmin()}">
        <h2>Nur Admins können Beiträge editieren</h2>
    </a>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>